@model Trimly.Domain.Emails.SendConfirmationLink

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>Title</title>
        <style>
            body {
                background-color: white; /* Sets the background color for the whole page */
                font-family: Arial, sans-serif; /* Sets the default font for the whole page */
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        </style>
    </head>
    <body>

        <div>
            <p>
                Thanks for registering with <strong>Trimly</strong>.
                Please confirm your email address by clicking the button below:
            </p>

            <p style="text-align: center; margin: 30px 0;">
                <a href="@Model.PlatformLink"
                   style="background-color: #2563eb;
                          color: #ffffff;
                          padding: 12px 24px;
                          text-decoration: none;
                          border-radius: 4px;
                          display: inline-block;">
                    Confirm Email
                </a>
            </p>

            <p>
                If the button doesn’t work, copy and paste this link into your browser:
                <br>
            </p>
            <p>
                We are excited to have you on board!
            </p>
        </div>

    </body>
</html>

