<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>@ViewData["Title"]</title>
        <style>
            body {
                background-color: white; /* Sets the background color for the whole page */
                font-family: Arial, sans-serif; /* Sets the default font for the whole page */
                display:flex;
                flex-direction: column;
                align-items: center;
            }
        </style>
    </head>
    <body>

    @RenderBody()

    </body>
</html>