@page
@model Trimly.API.Pages.confirmEmail

@{
    Layout = "_Layout";
}


<div>
    <h1>Thank you for confirming your email!</h1>
    <p>You can access the platform 
        <a target="_blank" href="https://localhost:5001">here</a>
    </p>
</div>

